* {
  direction: rtl;
}

body {
  font-family: 'Suez One', serif;
  font-family: 'Varela Round', sans-serif;
  margin: 0;
  padding: 0;
  color: black;
}

h2 {
  background-color: #d596ac;
  background-color: #87c4be;
  color: white;
  border-radius: 6px;
  padding: 30px;
  margin: 6px 0;
}

h2, p, a {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

h4 {
  background-color: lightgray;
  padding: 15px;
  border-radius: 6px;
  margin: 2px 0;
  color: black;
}

img {
  display: block;
  margin: auto;
  text-align: center;
  width: 80%;
}

.center, .icons, #result {
  margin: auto;
  margin-top: 0.5rem;
  width: 96%;
  padding: 2px;
  text-align: center;
  background-color: white;
  border-radius: 6px;
}

.center-right {
  text-align: right;
}

.icons {
  background-color: white;
  margin-bottom: 10px;
}

#result {
  background-color: #9acd32;
  font-size: 20px;
  display: none;
}

#btn-result, #bt-again {
  display: none;
}

#test {
  font-size: 18px;
  color: white;
}

#test_status {
  font-size: 18px;
}

.contact {
  margin-top: -1rem;
}

.fa {
  margin: 0.5rem;
  color: black;
}

.fa:hover {
  color: #3b5998;
}

.contact-text {
  color: black;
  font-size: 70%;
}

.btn {
  color: black;
  background-color: #f09247;
}

.btn-play {
  border-radius: 3px;
  font-size: 12pt;
  padding: 8px;
}

.btn-play:hover {
  background-color: #d7edf9;
}

.icon-holder {
  margin-left: 0.25rem;
  padding-top: 2rem;
}

input[type="radio"]{
  display: none;
}

input:checked ~ h4{
  background-color: #e8aecd;
}

@media only screen and (min-width: 768px) {
  body {
    background-color: lightblue;
  }
  .center, .icons, #result {
    width: 60%;
    padding: 2.5rem;
  }

  #test {
    font-size: 26px;
  }

  #test_status {
    font-size: 20px;
  }

  .btn-play {
    border-radius: 3px;
    font-size: 16pt;
    padding: 10px;
  }

  img {
    width: 100%;
  }
}
